$md-teal: (
    50 : #ecf5f7,
    100 : #cfe6eb,
    200 : #afd5de,
    300 : #8fc4d0,
    400 : #77b7c6,
    500 : #5faabc,
    600 : #57a3b6,
    700 : #4d99ad,
    800 : #4390a5,
    900 : #327f97,
    A100 : #e0f7ff,
    A200 : #adebff,
    A400 : #7adfff,
    A700 : #60d8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
